
@{
    ViewData["Title"] = "Expenses";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is Expense Page</h2

</div>

<div>
        <a asp-action="Create">Create New</a>

</div>

<div>
   <form>
       <input type="text" name="expenseName" /> 
   </form>
</div>
